@font-face {
    font-family: 'robo';
    src: url(Roboto_Mono/static/RobotoMono-Regular.ttf)
}

@keyframes pulse {
    0% {
        color: white;
    }
    25% {
        color: white;
    }
    75% {
        color: grey;
    }
    50% {
        color: white;
    }
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vw;
    box-shadow: 0 0 20em 5em rgba(0,0,0,20) inset;
}